.update-customer {
    display: flex;
    justify-content: center;
}
.css-1s2u09g-control, .css-1pahdxg-control{
    flex-wrap: nowrap;
    width: 349px;
    min-width: 349px;
    max-width: 349px;
}

.confirm.show {
    display: flex;
    flex-direction: column;
}
.demo-editor, .rdw-editor-toolbar{
    border: 1px solid rgba(0,0,0,0.3);
}
.demo-editor{
    height: 200px;
}

.confirm {
    display: none;
    background-color: #fff;
    width: 55%;
    margin: 0 auto;
    border: 3px solid rgb(243, 108, 19);
    border-radius: 10px;
    text-align: center;
    position: fixed;
    right: 15%;
    z-index: 1000;
    opacity: 1;
    justify-content: center;
    animation: fadeChange 0.3s linear;
    will-change: opacity, transform;
    top: 50px;
    max-height: 648px;
    overflow-y: scroll;
    scroll-behavior: smooth;


    .closed {
        position: absolute;
        right: 3rem;
        font-size: 22px;
        top: 0px;
        right: 8px;

        &:hover {
            color: tomato;
            cursor: pointer;
        }

    }

}

// .input-hover:hover, .input-hover:focus{
//     outline: none;
//     border-color: rgba(46,105,255,.5);
//     box-shadow: 0 0 0 2px rgb(46 105 255 / 25%);
// }
.active-input{
    background-color: #ffffe0;
}

.btn-set-css{
    color: #fff;
    text-shadow: -1px -1px 0 #b23d35;
    border: 1px solid #d83526;
    box-shadow: inset 0 1px 0 0 #f7c4c0;
    background: linear-gradient(0deg,#fc8d83 0,#e4685d);
    user-select: none;
}

.btn-set-css:hover{
    background: linear-gradient(0deg,#ffa69e 0,#ee776d);
}

@keyframes fadeChange {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeOverlay {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 0.7;
        transform: translateY(0px);
    }
}

.ovrly,
.confirm {
    // display: none;
}