.sc-hLBbgP{
    font-weight: 800;
    text-transform: uppercase;
}
.rdt_TableCell{
    font-weight: 400;
    text-transform: unset;

}

.btn-action{
    width: 33px;
    height: 29px;
    border-radius: 8px;
    left: 18px;
    font-weight: 800;
    font-size: 12px;
}
.update-handle{
    background-color: green;
    margin: 6px 4px;
}

.delete-handle{
    background-color: red;
    color: white;
}