@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}
.css-1s2u09g-control, .css-1pahdxg-control{
    flex-wrap: nowrap;
    width: 349px;
    min-width: 349px;
    max-width: 349px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;